@font-face {
  font-family: "Figtree";
  src: url("./assets/fonts/Figtree-VariableFont_wght.ttf");
}

:root {
  --black: hsl(0, 0%, 7%);
  --gray: hsl(0, 0%, 42%);
  --white: hsl(0, 0%, 100%);
  --yellow: hsl(47, 88%, 63%);

  --big-font: clamp(20px, 4.5vw, 21px);
  --medium-font: clamp(14px, 4vw, 16px);
  --small-font: clamp(12px, 3.5vw, 14px);
  --x-small-font: clamp(11px, 3vw, 13px);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 100vh;
  padding: 20px;
  background-color: var(--yellow);
  font-family: "Figtree";
}

main {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 250px;
  height: 450px;
  margin-top: auto;
  padding: 18px;
  border-radius: 20px;
  border: 1px black solid;
  background-color: var(--white);
  box-shadow: 10px 10px var(--black);
}

.illustration {
  width: 100%;
  border-radius: 20px;
}

.tag {
  width: fit-content;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: 800;
  font-size: var(--small-font);
  background-color: var(--yellow);
}

time {
  font-size: var(--small-font);
}

p {
  margin: 0;
  font-size: var(--medium-font);
  color: var(--gray);
}

h1 {
  margin: 0;
  font-weight: 800;
  font-size: var(--big-font);
  cursor: pointer;
}

h1:hover {
  color: var(--yellow);
}

.author {
  display: flex;
  align-items: center;
  margin-top: auto;
}

.avatar {
  width: 32px;
  height: 32px;
}

.author-name {
  height: fit-content;
  margin-left: 10px;
  font-size: var(--medium-font);
  font-weight: 800;
}

.attribution {
  margin-top: auto;
  text-align: center;
  font-size: 11px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 768px) {
  main {
    width: 280px;
  }
}
